<div class="page-width scroll-trigger animate--slide-in scroll-trigger--offscreen"><div id="shopify-block-ANG1BbHFuR2FLRDg5R__judge_me_reviews_review_widget_GgFqcF" class="shopify-block shopify-app-block">


<div style="clear:both"></div>
<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget jdgm--done-setup-widget" data-product-title="مضخة الحليب اللاسلكية Tighli" data-id="15590201819217" data-product-id="15590201819217" data-widget="review" data-shop-reviews="false" data-shop-reviews-count="1" data-empty-state="hide_widget" data-entry-point="review_widget.js" data-entry-key="review-widget/main.js" data-block-id="ANG1BbHFuR2FLRDg5R__judge_me_reviews_review_widget_GgFqcF" data-customer-logged-in="false" style="max-width: 1200px; margin: 0 auto;" data-widget-name="review_widget" data-impressions-tracked="true">

  
    
      <div class="jdgm-legacy-widget-content" style="">
        <div class="jdgm-rev-widg" data-updated-at="2026-02-16T05:02:37Z" data-average-rating="0.00" data-number-of-reviews="0" data-number-of-questions="0" data-image-url="https://cdn.shopify.com/s/files/1/0975/2549/7937/files/yuri2.jpg?v=1770165753">  <div class="jdgm-rev-widg__header"> <h2 class="jdgm-rev-widg__title">Customer Reviews</h2>  <div class="jdgm-row-stars"><div class="jdgm-rev-widg__summary"><div class="jdgm-rev-widg__summary-inner"> <div class="jdgm-rev-widg__summary-stars" aria-label="Average rating is 0.00 stars" role="img"> <span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span> </div> <div class="jdgm-rev-widg__summary-text">كوني أول من يكتب تقييماً</div> </div></div><div class="jdgm-histogram jdgm-temp-hidden">  <div class="jdgm-histogram__row" data-rating="5" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 5 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div>  <div class="jdgm-histogram__frequency">0</div> </div>  <div class="jdgm-histogram__row" data-rating="4" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 4 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div>  <div class="jdgm-histogram__frequency">0</div> </div>  <div class="jdgm-histogram__row" data-rating="3" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 3 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div>  <div class="jdgm-histogram__frequency">0</div> </div>  <div class="jdgm-histogram__row" data-rating="2" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 2 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div>  <div class="jdgm-histogram__frequency">0</div> </div>  <div class="jdgm-histogram__row" data-rating="1" data-frequency="0" data-percentage="0">  <div class="jdgm-histogram__star" role="button" aria-label="0% (0) reviews with 1 star rating" tabindex="0"><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></div> <div class="jdgm-histogram__bar"> <div class="jdgm-histogram__bar-content" style="width: 0%;"> </div> </div>  <div class="jdgm-histogram__frequency">0</div> </div>  <div class="jdgm-histogram__row jdgm-histogram__clear-filter" data-rating="null" tabindex="0">عرض جميع التقييمات</div> </div><div class="jdgm-widget-actions-wrapper">
  
<a style="display: none" href="#" class="jdgm-write-rev-link" role="button">اكتبي تقييماً</a></div>
</div>        </div> <div class="jdgm-rev-widg__actions"><div class="jdgm-row-actions"><div class="jdgm-rev-widg__sort-wrapper"><div class="jdgm-sort-dropdown-wrapper">
  <select class="jdgm-sort-dropdown" aria-label="Sort dropdown">
    <option value="most-recent">الأحدث</option>
    <option value="highest-rating">الأعلى تقييماً</option>
    <option value="lowest-rating">الأقل تقييماً</option>
    <option value="with-pictures">الصور فقط</option>
    <option value="pictures-first">الصور أولاً</option>
    <option value="videos-first">الفيديوهات أولاً</option>
    <option value="most-helpful">الأكثر إفادة</option>
  </select><span class="jdgm-sort-dropdown-arrow"></span>
</div>
</div></div></div><div class="jdgm-rev-widg__body">  <div class="jdgm-rev-widg__reviews"></div> <div class="jdgm-paginate" data-per-page="5" data-url="https://api.judge.me/reviews/reviews_for_widget" style="display: none;"></div>  </div> <div class="jdgm-rev-widg__paginate-spinner-wrapper"> <div class="jdgm-spinner"></div> </div> </div>
      </div>
    
  

  
</div>






</div>


{% schema %}
{
  "name": "Judge Me Reviews",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Judge Me Reviews"
    }
  ],
  "presets": [
    {
      "name": "Judge Me Reviews"
    }
  ]
}
{% endschema %}
