{{ 'product-benefits.css' | asset_url | stylesheet_tag }}



  


<div class="custom-benefits-section-wrapper">
  <div class="custom-benefits-section">
    <div class="custom-benefits-container">
      <div class="custom-header-section">
        
          <div class="custom-section-header">
            <h2 class="product-benefits-heading">
              علاش الأمهات كيختارو
              
                <span class="custom-accent-text">
                  مضخة الحليب اللاسلكية Tighli™
                </span>
              
            </h2>
            
              <div class="custom-subtitle"><p>تخلصي من عذاب مضخات الحليب العادية المزعجة والمليئة بالخيوط. مضخة Tighli كتعطيك راحة فكل وقت، وحرية حركة كاملة، وسحب مريح وصامت بلا ألم ومن أول استعمال.</p></div>
            
          </div>
        
      </div>
      
      <div class="custom-content-column">
        <div class="custom-section-header desktop-header">
          <h2 class="product-benefits-heading">
            علاش الأمهات كيختارو
            
              <span class="custom-accent-text">
                مضخة الحليب اللاسلكية Tighli™
              </span>
            
          </h2>
          
            <div class="custom-subtitle"><p>تخلصي من عذاب مضخات الحليب العادية المزعجة والمليئة بالخيوط. مضخة Tighli كتعطيك راحة فكل وقت، وحرية حركة كاملة، وسحب مريح وصامت بلا ألم ومن أول استعمال.</p></div>
          
        </div>

        <div class="custom-benefits-list">
          
            
              <div class="custom-benefit-item">
                <div class="custom-benefit-header">
                  <div class="custom-benefit-icon" style="color: #ffffff;">
                    
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" opacity="0.2"></path>
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
  <polyline points="88 136 112 160 168 104" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
</svg>
                    
                  </div>
                  <h3 class="custom-benefit-title" style="color: #ffffff;">حرية حركة كاملة</h3>
                </div>
                <div class="custom-benefit-description-container">
                  <p class="custom-benefit-description" style="color: #ffffff;">
                    مضاد للارتجاع والتسرب: نظام صحي مغلق يمنع رجوع الحليب للمحرك، وصحي وآمن للطفل.
                  </p>
                </div>
              </div>
            
          
            
              <div class="custom-benefit-item">
                <div class="custom-benefit-header">
                  <div class="custom-benefit-icon" style="color: #ffffff;">
                    
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" opacity="0.2"></path>
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
  <polyline points="88 136 112 160 168 104" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
</svg>
                    
                  </div>
                  <h3 class="custom-benefit-title" style="color: #ffffff;">سحب مريح وصامت</h3>
                </div>
                <div class="custom-benefit-description-container">
                  <p class="custom-benefit-description" style="color: #ffffff;">
                    شحن سريع USB-C: بطارية تدوم طويلاً تصل إلى 2.5 ساعة من الاستعمال المستمر شحنيها فين ما كنتي.
                  </p>
                </div>
              </div>
            
          
            
              <div class="custom-benefit-item">
                <div class="custom-benefit-header">
                  <div class="custom-benefit-icon" style="color: #ffffff;">
                    
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" opacity="0.2"></path>
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
  <polyline points="88 136 112 160 168 104" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
</svg>
                    
                  </div>
                  <h3 class="custom-benefit-title" style="color: #ffffff;">مساج سيليكون طبي</h3>
                </div>
                <div class="custom-benefit-description-container">
                  <p class="custom-benefit-description" style="color: #ffffff;">
                    مساج سيليكون مريح: وسادة ناعمة ومرنة تحاكي رضاعة الطفل الطبيعية وتنسحب بلا ألم.
                  </p>
                </div>
              </div>
            
          
            
              <div class="custom-benefit-item">
                <div class="custom-benefit-header">
                  <div class="custom-benefit-icon" style="color: #ffffff;">
                    
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" opacity="0.2"></path>
  <path d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z" fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
  <polyline points="88 136 112 160 168 104" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
</svg>
                    
                  </div>
                  <h3 class="custom-benefit-title" style="color: #ffffff;">تنظيف سهل وسريع</h3>
                </div>
                <div class="custom-benefit-description-container">
                  <p class="custom-benefit-description" style="color: #ffffff;">
                    سهلة فالتركيب والتنظيف: تتكون من 4 قطع فقط سهلة الفك والتعقيم والتجميع في ثواني.
                  </p>
                </div>
              </div>
            
          
        </div>
      </div>
      
      <div class="custom-image-column">
        
          <div class="custom-section-image-container">
            
              <div class="custom-feature-video">
                <img src="{{ 'why-infographic.jpg' | asset_url }}" alt="لماذا تختار الأمهات مضخة Tighli" class="custom-video-element" loading="lazy" style="background: none !important;">
              </div>
            
          </div>
        
      </div>
    </div>
  </div>






{% schema %}
{
  "name": "Product Benefits",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Benefits"
    }
  ],
  "presets": [
    {
      "name": "Product Benefits"
    }
  ]
}
{% endschema %}
