<link href="{{ 'component-accordion.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">





<div class="roadmap-section">
  <div class="page-width">
    <div class="section-template--28684899876945__roadmap_EQLx7J-padding">
      
        <div class="roadmap-header">
          
            <h2 class="heading">
              رحلة الرضاعة المريحة <span class="accent global-accent-text">ديالك</span>
            </h2>
          
          
            <div class="subheading rte"><p>هذا شنو كيوقع ملي كتستعملي مضخة Tighli اللاسلكية بانتظام فاليوم ديالك.</p></div>
          
        </div>
      

      <div class="roadmap-container">
        <div class="roadmap-content">
          <div class="roadmap-timeline">
            
              <div class="roadmap-item">
                <div class="roadmap-circle">
                  
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"></path>
                    </svg>
                  
                </div>
                
                
                  <div class="roadmap-badge">النهار الأول</div>
                
                
                
                  <h3 class="roadmap-title">راحة فورية</h3>
                
                
                
                  <div class="roadmap-description rte"><p>كتشعري براحة كبيرة فالحين، وكتسحبي الحليب بلا ما تحسي بأي ألم أو انزعاج فالثدي ديالك.</p></div>
                
              </div>
            
              <div class="roadmap-item">
                <div class="roadmap-circle">
                  
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"></path>
                    </svg>
                  
                </div>
                
                
                  <div class="roadmap-badge">الأسبوع الأول</div>
                
                
                
                  <h3 class="roadmap-title">تدفق حليب أفضل</h3>
                
                
                
                  <div class="roadmap-description rte"><p>كمية تدفق الحليب كتحسن بفضل وضعية المساج، وكتولفي على السحب اللاسلكي بكل سهولة وفأي بلاصة.</p></div>
                
              </div>
            
              <div class="roadmap-item">
                <div class="roadmap-circle">
                  
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"></path>
                    </svg>
                  
                </div>
                
                
                  <div class="roadmap-badge">الأسبوع الثاني</div>
                
                
                
                  <h3 class="roadmap-title">تنظيم أفضل للوقت</h3>
                
                
                
                  <div class="roadmap-description rte"><p>كتلقاي راسك وفرتي ساعات كثيرة فاليوم، وتقدري تقضي شغالك وترتاحي بكل حرية والرضيع ديالك شبعان وصحي.</p></div>
                
              </div>
            
              <div class="roadmap-item">
                <div class="roadmap-circle">
                  
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"></path>
                    </svg>
                  
                </div>
                
                
                  <div class="roadmap-badge">من بعد</div>
                
                
                
                  <h3 class="roadmap-title">أمومة سعيدة وراحة مستمرة</h3>
                
                
                
                  <div class="roadmap-description rte"><p>كتولي الرضاعة الطبيعية تجربة ممتعة وسهلة فالحياة ديالك اليومية، بلا عذاب وبلا ضغط نفسي وكتوفري كاع وقتك لراحتك وطفلك.</p></div>
                
              </div>
            
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Product Roadmap",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Roadmap"
    }
  ],
  "presets": [
    {
      "name": "Product Roadmap"
    }
  ]
}
{% endschema %}
