<link href="{{ 'satisfaction-guarantee.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">



  


<script src="{{ 'satisfaction-guarantee.js' | asset_url }}" type="text/javascript"></script>



<div class="guarantee-section__wrapper">
  <div class="guarantee-section__container">
    <!-- Mobile View -->
    <div class="guarantee-section__mobile ">
      <!-- Polaroid Photos moved above content -->
      
      <div class="guarantee-section__photos-mobile">
        
        
        
        
        
        
        
      </div>
      
      
      <div class="guarantee-section__content">
        <div class="shield-icon">
          
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="80" height="80">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16L4.35009 13.3929C2.24773 11.8912 1 9.46667 1 6.88306V3L8 0L15 3V6.88306C15 9.46667 13.7523 11.8912 11.6499 13.3929L8 16ZM12.2071 5.70711L10.7929 4.29289L7 8.08579L5.20711 6.29289L3.79289 7.70711L7 10.9142L12.2071 5.70711Z" fill="currentColor"></path>
              </svg>
          
        </div>
        
        <h2 class="guarantee-section__heading heading-text">
          ضمان <span class="accent-text">استرجاع الأموال</span>
        </h2>
        
        <p class="guarantee-section__description">
          كنثقوا فجودة مضخة Tighli اللاسلكية بزاف، داكشي علاش كنقدموا ليك ضمان رضا كامل! يلا ما عجباتكش النتيجة، تقدري ترجعيها فظرف 60 يوم وترجعي فلوسك كاملة فابور وبلا صداع راس.
        </p>
        
        
        
        
        
        
        <a href="#" class="theme-button guarantee-section__cta button-box-shadow intensity-5 button-gradient-effect gradient-shine-enabled" data-scroll-to-first-section="true">
          أطلب الآن (التوصيل فابور)
        </a>
        
        <div class="guarantee-section__benefits">
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            ضمان الرضا 100%
          </div>
          
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            توصيل سريع ومجاني
          </div>
          
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            استرجاع ساهل وسريع
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Desktop View -->
    <div class="guarantee-section__desktop ">
      
      <div class="guarantee-section__photos-left">
        
        
        
      </div>
      
      
      <div class="guarantee-section__content">
        <div class="shield-icon">
          
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="80" height="80">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16L4.35009 13.3929C2.24773 11.8912 1 9.46667 1 6.88306V3L8 0L15 3V6.88306C15 9.46667 13.7523 11.8912 11.6499 13.3929L8 16ZM12.2071 5.70711L10.7929 4.29289L7 8.08579L5.20711 6.29289L3.79289 7.70711L7 10.9142L12.2071 5.70711Z" fill="currentColor"></path>
              </svg>
          
        </div>
        
        <h2 class="guarantee-section__heading heading-text">
          ضمان <span class="accent-text">استرجاع الأموال</span>
        </h2>
        
        <p class="guarantee-section__description">
          كنثقوا فجودة مضخة Tighli اللاسلكية بزاف، داكشي علاش كنقدموا ليك ضمان رضا كامل! يلا ما عجباتكش النتيجة، تقدري ترجعيها فظرف 60 يوم وترجعي فلوسك كاملة فابور وبلا صداع راس.
        </p>
        
        <a href="#" class="guarantee-section__cta button-box-shadow intensity-5 button-gradient-effect gradient-shine-enabled" data-scroll-to-first-section="true">
          أطلب الآن (التوصيل فابور)
        </a>
        
        <div class="guarantee-section__benefits">
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            ضمان الرضا 100%
          </div>
          
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            توصيل سريع ومجاني
          </div>
          
          
          <div class="benefit">
            <svg class="checkmark-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
              <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"></path>
            </svg>
            استرجاع ساهل وسريع
          </div>
          
        </div>
      </div>
      
      
      <div class="guarantee-section__photos-right">
        
        
        

        
      </div>
      
    </div>
  </div>
</div>





{% schema %}
{
  "name": "Satisfaction Guarantee",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Satisfaction Guarantee"
    }
  ],
  "presets": [
    {
      "name": "Satisfaction Guarantee"
    }
  ]
}
{% endschema %}
