<div class="divider-section-template--28684899876945__divider_Q7nmRz"><svg viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,60 Q300,120 600,60 T1200,60 V120 H0 Z"></path></svg></div>



{% schema %}
{
  "name": "Section Divider 1",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Section Divider 1"
    }
  ],
  "presets": [
    {
      "name": "Section Divider 1"
    }
  ]
}
{% endschema %}
